body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #F7F4E3;
  color: #000;
}
.container{
    width:80%;
    margin:0 auto;
    padding:0 20px;
}
.banner {
  text-align: center;
  background-image:linear-gradient(180deg,#ffffff3f, #000000d7), url("./library-5.jpg"); /* thay bằng ảnh thư viện */
  background-size: cover;
  background-position: center;
  padding: 80px 20px;
  color: white;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 10px;
  line-height: 1.4;
  text-transform: uppercase;
}
.banner .search-box {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

section h2 {
  text-align: left;
  margin: 40px 60px 20px;
  font-size: 24px;
  font-family: 'Georgia', serif;
}

.book-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0 60px 40px;
}

.book-item {
  width: 150px;
  text-align: center;
}
.book-item img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
.book-item h3 {
  margin: 10px 0 5px;
  font-size: 16px;
  font-weight: 600;
}

.book-item button {
  margin-top: 8px;
  background-color: #003366;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
}

.book-item button:hover {
  background-color: #00509e;
}
.content-3 {
  background-color: #F7F4E3;
  padding: 20px 40px;
  border-top: 4px solid #ccc;
}

.content-3 h2 {
  color: #8b0000;
  font-size: 20px;
  margin-bottom: 40px;
  border-left: 4px solid #8b0000;
  padding-left: 10px;
  text-transform: uppercase;
  margin-left: -30px; 
}

.news-item {
  display: flex;
  align-items: flex-start;
  position:relative;
  gap: 15px;
  margin-bottom: 25px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
}

.news-item img {
  width: 160px;        /* hẹp hơn */
  height: 230px;       /* cao hơn */
  object-fit: cover;   /* cắt vừa khung, không méo */
  border: 2px solid #dcdcdc;
  border-radius: 8px;
  transition: transform 0.3s ease;
}
.news-content {
  flex: 1;
  margin-top: 40px;
}

.news-content a {
  color: #b40000;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 5px;
}

.news-content p {
  color: #000;
  font-size: 15px;
  line-height: 1.5;
}

/* Hiệu ứng hover */
.news-item:hover img {
  transform: scale(1.02);
  transition: all 0.3s ease;
}

.news-item:hover h3 {
  text-decoration: underline;
}